<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Message</key>
	<string>ABCDEFGHIJKLMNOPQRST
UVWXYZ1234567890-^@
[;:],./_!\&quot;#$%&amp;&apos;()=~|`{+*}&lt;&gt;?_\
ABCDEFGHIJKLMNOPQRST
UVWXYZ1234567890-^@
[;:],./_!\&quot;#$%&amp;&apos;()=~|`{+*}&lt;&gt;?_\
ABCDEFGHIJKLMNOPQRST
UVWXYZ1234567890-^@
[;:],./_!\&quot;#$%&amp;&apos;()=~|`{+*}&lt;&gt;?_\</string>
	<key>BackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg9oUbz+DxitsP4OEaVY/AYY=</data>
	<key>AnimateImmediately</key>
	<false/>
	<key>AutoDelete</key>
	<false/>
	<key>FontSize</key>
	<real>0.0382248120810837</real>
	<key>IconSize</key>
	<real>0.00703328462690115</real>
	<key>IconDensity</key>
	<real>0.0332784021645784</real>
	<key>FontRandomness</key>
	<real>0</real>
	<key>LetterSpacing</key>
	<real>1.42580977082253</real>
	<key>LineHeight</key>
	<real>1.50754123926163</real>
	<key>Vibration</key>
	<real>0.01</real>
	<key>Speed</key>
	<integer>5</integer>
	<key>Accel</key>
	<integer>5</integer>
	<key>HoldTime</key>
	<integer>1</integer>
</dict>
</plist>
