# devApps is the only official directory
!devApps/

# ignore bin folders' contents, except data folder therein
/mydev/*/bin/*
!/mydev/*/bin/data/

/mydev/*/.cproject
/mydev/*/.project
/mydev/*/.settings/

!_Examples_Moved.txt

# don't ignore the .gitignore file
!.gitignore

# except the projectGenerator directory, too
!projectGenerator/

!mydev